<!DOCTYPE html>
{{set . "title" "hinst_pictures"}}
<html>
	<head>
		<title>{{.title}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="/hinst_pictures/public/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/hinst_pictures/public/css/bootstrap-theme.css">
		<link rel="shortcut icon" type="image/png" href="/hinst_pictures/public/img/favicon.png">
		<!--<script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>-->
		{{range .moreScripts}}
			<script src="/hinst_pictures/public/{{.}}" type="text/javascript" charset="utf-8"></script>
		{{end}}
  	</head>
	<body>
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="{{url "App.Index"}}">{{.title}}</a></li>
			<li role="presentation"><a href="#">Upload</a></li>
			<li role="presentation"><a href="#">View data</a></li>
			<li role="presentation"><a href="{{url "db.Test"}}">DB.Test</a></li>
		</ul>