<!DOCTYPE html>
{{set . "title" "hinst_pictures"}}
<html>
	<head>
		<title>{{.title}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="/hinst_pictures/public/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/hinst_pictures/public/css/bootstrap-theme.css">
		<link rel="shortcut icon" type="image/png" href="/hinst_pictures/public/img/favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
  	</head>
	<body>
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="{{url "App.Index"}}">{{.title}}</a></li>
			<li role="presentation"><a href="#">Upload</a></li>
			<li role="presentation"><a href="#">View data</a></li>
			<li role="presentation"><a href="{{url "App.TestDB"}}">TestDB</a></li>
		</ul>
		<div class="container jumbotron">